.landingImg{
    height: 80%;
    padding-left: 15%;
}

.side-content{
    padding-right: 15%;
    font-size: 20px;
}

.catchy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;  
}

.Lorem{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.explore-btn{
    position: absolute;
    background: #FF5C58;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #FFFFFF;
}
