*{
    margin: 0;
    padding: 0;    
}

body{
    font-family: 'Poppins','Roboto',sans-serif;
    
}

body a{
    
    text-decoration: none;
    transition: 0.2s;
    
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    background-color: #FFEDD3;
    border-bottom: 5px solid black;
}

.container span{
    display: flex;
    flex-direction: row;
}

.container .left{
    padding: 0.2%;
    margin: 0.2%;
}

.container .left h2{
    position: relative;
    top: 10%;
    left: 40%;
    padding: 2%;
    color: black;
    font-size: 24px;
}


.container .left a{
    color: black;
}

.container .center img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 15%;     
}

.logout{
    position: relative;
    right: 5%;
    padding-top: 0.5%;
}

.logout button{
    color: white;
    background-color: #FF5C58;
    height: 80%;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s;
    font-weight: 600;
}

.logout button:hover{
    color: #FF5C58;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}