@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

label{
    font-size: .7rem;
}

input.form-control, input.form-control:focus{
    background: #f0f0ff;
}
.error{
    position: absolute;
    color: red;
    font-size: .6rem;
}